{% extends 'base.html.twig' %}

{% block title %}Editar Tareas{% endblock %}

{% block body %}
    <h1>Editar Tareas</h1>

    {{ include('tareas/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="links" href="{{ path('app_tareas_index') }}">Volver a la lista</a>

    {{ include('tareas/_delete_form.html.twig') }}
{% endblock %}
