{% extends 'base.html.twig' %}

{% block title %}Nuevas Tareas{% endblock %}

{% block body %}
    <h1>Crear nueva Tarea</h1>

    {{ include('tareas/_form.html.twig') }}

    <a class="links" href="{{ path('app_tareas_index') }}">Volver a la lista</a>
{% endblock %}
