{% extends 'base.html.twig' %}

{% block title %}Nuevo Usuario{% endblock %}

{% block body %}
    <h1>Crear nuevo Usuario</h1>

    {{ include('usuario/_form.html.twig') }}

    <a class="links" href="{{ path('app_usuario_index') }}">Volver atrás</a>
{% endblock %}
