{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    {# ... #}
    {# <ul>
        <li><a class="links" href="{{ path('index') }}">Gestión de usuarios</a></li>
    </ul> #}
{% endblock main %}