{# templates/admin/dashboard.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block main %}
    {# ... #}
    <h1>Panel de administración</h1>

    <p>Puede elegir una de las opciones del menú de la izquierda para empezar a administrar su contenido.</p>
    {# ... #}
{% endblock main %}